#app
  .controls
    button(v-on:click="plantSeed(1)" v-bind:disabled="!canPlant") Plant a Seed

  table.resources
    tr.resource Trees
      td.value {{ numTrees }}
      td: cooldown-circle(v-show="numTrees > 0")

    tr.resource Saplings
      td.value {{ numSaplings }}
      td: cooldown-circle(v-show="numSaplings > 0")

    tr.resource Seedlings
      td.value {{ numSeedlings }}
      td: cooldown-circle(v-show="numSeedlings > 0" v-bind:percent="seedlingCountdown")

    tr.resource Seeds
      td.value {{ seeds }}

  p Trees: {{ trees }}
  p Saplings: {{ saplings }}
  p Seedlings: {{ seedlings }}
